<div class="section">
    <div class="about">
        <div class="header">
            <span class="text-uppercase">about us</span>
            <h3>WHO AM I?</h3>
        </div>
        <p><span class="fw-bold">Hi Im Jackson Ford</span> On her way she met a copy. The copy warned the Little Blind Text, that where it came from
            it would have been rewritten a thousand times and everything that was left from its origin would be the word
            (and) and the Little Blind Text should turn around and return to its own, safe country.</p>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One
            day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of
            Grammar.</p>
        <div class="row_item">
            <div class="card_item1">
                <i class="icon fa-regular fa-lightbulb fa-2xl pt-3 pb-5"></i>
                <h5 class="mb-4">Graphic Design</h5>
            </div>
            <div class="card_item2">
                <i class="icon fa-solid fa-earth-africa fa-2xl pt-3 pb-5"></i>
                <h5 class="mb-4">Web Design</h5>
            </div>
            <div class="card_item3">
                <i class="icon fa-solid fa-database fa-2xl pt-3 pb-5"></i>
                <h5 class="mb-4">Software</h5>
            </div>
            <div class="card_item4">
                <i class="icon fa-solid fa-mobile-screen-button fa-2xl pt-3 pb-5"></i>
                <h5 class="mb-4">Application</h5>
            </div>
        </div>
    </div>
</div>