<div class="section">
    <div class="skills">
        <div class="header text-uppercase">
            <span class="">my specialty</span>
            <h3>my skills</h3>
        </div>
        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
 <div class="row g-4">
    <div class="col-md-6">
      <div class="skill">
        <span class="skill-title">Photoshop</span>
        <div class="progress-custom">
          <div class="progress-bar-custom photoshop" style="width: 75%;">
            <span class="progress-percent photoshop">75%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="skill">
        <span class="skill-title">jQuery</span>
        <div class="progress-custom">
          <div class="progress-bar-custom jquery" style="width: 60%;">
            <span class="progress-percent jquery">60%</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="skill">
        <span class="skill-title">HTML5</span>
        <div class="progress-custom">
          <div class="progress-bar-custom html5" style="width: 85%;">
            <span class="progress-percent html5">85%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="skill">
        <span class="skill-title">CSS3</span>
        <div class="progress-custom">
          <div class="progress-bar-custom css3" style="width: 90%;">
            <span class="progress-percent css3">90%</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="skill">
        <span class="skill-title">WordPress</span>
        <div class="progress-custom">
          <div class="progress-bar-custom wordpress" style="width: 70%;">
            <span class="progress-percent wordpress">70%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="skill">
        <span class="skill-title">SEO</span>
        <div class="progress-custom">
          <div class="progress-bar-custom seo" style="width: 80%;">
            <span class="progress-percent seo">80%</span>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</div>