<div class="work-section">
    <div class="work-header">
      <span class="work_label">MY WORK</span>
      <h2 class="work_title mb-5">RECENT WORK</h2>
      <ul class="tabs">
        <li><a routerLink="graphicDesign" routerLinkActive="text-primary">Graphic Design</a></li>
        <li><a routerLink="apps" routerLinkActive="text-primary">Apps</a></li>
        <li><a routerLink="software" routerLinkActive="text-primary">Software</a></li>
      </ul>
    </div>
    <div> 
        <router-outlet></router-outlet>
    </div>
</div>
