<div class="row">


    <div class="col-md-6 mb-4">
        <div class="image-wrapper position-relative">
            <img src="/assets/images/img-3-pR2ZEVY9.jpg" alt="work" class="img-fluid h-100 w-100 object-fit-cover">
            <div class="overlay d-flex">
                <div
                    class="overlay-content d-flex flex-column py-5 px-3 justify-content-between text-white text-start h-100">
                    <div>
                        <h4><a href="" class="text-white">Work 2</a></h4>
                        <p>Animation</p>
                    </div>
                    <ul>
                        <li><span><i class="fa-solid fa-share-nodes"></i></span></li>
                        <li><span><i class="fa-solid fa-eye"></i><a class="text-white text-decoration-underline ms-2">100</a></span></li>
                        <li><span><i class="fa-regular fa-heart me-2"></i>45</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
        <div class="col-md-6 mb-4">
        <div class="image-wrapper position-relative">
            <img src="/assets/images/img-4-tHccITd-.jpg" alt="work" class="img-fluid h-100 w-100 object-fit-cover">
            <div class="overlay d-flex">
                <div
                    class="overlay-content d-flex flex-column py-5 px-3 justify-content-between text-white text-start h-100">
                    <div>
                        <h4><a href="" class="text-white">Work 4</a></h4>
                        <p>Animation</p>
                    </div>
                    <ul>
                        <li><span><i class="fa-solid fa-share-nodes"></i></span></li>
                        <li><span><i class="fa-solid fa-eye"></i><a class="text-white text-decoration-underline ms-2">100</a></span></li>
                        <li><span><i class="fa-regular fa-heart me-2"></i>45</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 mb-4">
        <div class="image-wrapper position-relative">
            <img src="/assets/images/img-5-lAucr__a.jpg" alt="work" class="img-fluid h-100 w-100 object-fit-cover">
            <div class="overlay d-flex">
                <div
                    class="overlay-content d-flex flex-column py-5 px-3 justify-content-between text-white text-start h-100">
                    <div>
                        <h4><a href="" class="text-white">Work 2</a></h4>
                        <p>Animation</p>
                    </div>
                    <ul>
                        <li><span><i class="fa-solid fa-share-nodes"></i></span></li>
                        <li><span><i class="fa-solid fa-eye"></i><a class="text-white text-decoration-underline ms-2">100</a></span></li>
                        <li><span><i class="fa-regular fa-heart me-2"></i>45</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 mb-4">
        <div class="image-wrapper position-relative">
            <img src="/assets/images/img-6-DFW03AZ3.jpg" alt="work" class="img-fluid h-100 w-100 object-fit-cover">
            <div class="overlay d-flex">
                <div
                    class="overlay-content d-flex flex-column py-5 px-3 justify-content-between text-white text-start h-100">
                    <div>
                        <h4><a href="" class="text-white">Work 2</a></h4>
                        <p>Animation</p>
                    </div>
                    <ul>
                        <li><span><i class="fa-solid fa-share-nodes"></i></span></li>
                        <li><span><i class="fa-solid fa-eye"></i><a class="text-white text-decoration-underline ms-2">100</a></span></li>
                        <li><span><i class="fa-regular fa-heart me-2"></i>45</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-6 mb-4">
        <div class="image-wrapper position-relative">
            <img src="/assets/images/img-2-D-4H1m4L.jpg" alt="work" class="img-fluid w-100 object-fit-cover">
            <div class="overlay d-flex">
                <div
                    class="overlay-content d-flex flex-column py-5 px-3 justify-content-between text-white text-start h-100">
                    <div>
                        <h4><a href="" class="text-white">Work 2</a></h4>
                        <p>Animation</p>
                    </div>
                    <ul>
                        <li><span><i class="fa-solid fa-share-nodes"></i></span></li>
                        <li><span><i class="fa-solid fa-eye"></i><a class="text-white text-decoration-underline ms-2">100</a></span></li>
                        <li><span><i class="fa-regular fa-heart me-2"></i>45</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 mb-4">
        <div class="image-wrapper position-relative">
            <img src="/assets/images/img-3-pR2ZEVY9.jpg" alt="work" class="img-fluid h-100 w-100 object-fit-cover">
            <div class="overlay d-flex">
                <div
                    class="overlay-content d-flex flex-column py-5 px-3 justify-content-between text-white text-start h-100">
                    <div>
                        <h4><a href="" class="text-white">Work 2</a></h4>
                        <p>Animation</p>
                    </div>
                    <ul>
                        <li><span><i class="fa-solid fa-share-nodes"></i></span></li>
                        <li><span><i class="fa-solid fa-eye"></i><a class="text-white text-decoration-underline ms-2">100</a></span></li>
                        <li><span><i class="fa-regular fa-heart me-2"></i>45</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
        <div class="col-md-6 mb-4">
        <div class="image-wrapper position-relative">
            <img src="/assets/images/img-1-C4nS0eD8.jpg" alt="work" class="img-fluid h-100 w-100 object-fit-cover">
            <div class="overlay d-flex">
                <div
                    class="overlay-content d-flex flex-column py-5 px-3 justify-content-between text-white text-start h-100">
                    <div>
                        <h4><a href="" class="text-white">Work 2</a></h4>
                        <p>Animation</p>
                    </div>
                    <ul>
                        <li><span><i class="fa-solid fa-share-nodes"></i></span></li>
                        <li><span><i class="fa-solid fa-eye"></i><a class="text-white text-decoration-underline ms-2">100</a></span></li>
                        <li><span><i class="fa-regular fa-heart me-2"></i>45</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 mb-4">
        <div class="image-wrapper position-relative">
            <img src="/assets/images/img-2-D-4H1m4L.jpg" alt="work" class="img-fluid w-100 object-fit-cover">
            <div class="overlay d-flex">
                <div
                    class="overlay-content d-flex flex-column py-5 px-3 justify-content-between text-white text-start h-100">
                    <div>
                        <h4><a href="" class="text-white">Work 3</a></h4>
                        <p>Animation</p>
                    </div>
                    <ul>
                        <li><span><i class="fa-solid fa-share-nodes"></i></span></li>
                        <li><span><i class="fa-solid fa-eye"></i><a class="text-white text-decoration-underline ms-2">100</a></span></li>
                        <li><span><i class="fa-regular fa-heart me-2"></i>45</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>