<div class="sidebar position-fixed">
  <div class="sidebar_content">
    <img src="../../../assets/images/profileimage.jpg" alt="Profile" class="profile-img" />

    <div>
      <h2>Jackson Ford</h2>
      <p class="subtitle"><span class="text-primary">UI/UX DESIGNER</span> IN PHILIPPINES</p>
    </div>

    <nav class="nav-links">
      <a routerLink="home" routerLinkActive="text-primary"><span>HOME</span></a>
      <a routerLink="about" routerLinkActive="text-primary"><span>ABOUT</span></a>
      <a routerLink="skills" routerLinkActive="text-primary"><span>SKILLS</span></a>
      <a routerLink="experience" routerLinkActive="text-primary"><span>EXPERIENCE</span></a>
      <a routerLink="work" routerLinkActive="text-primary"><span>WORK</span></a>
    </nav>
  </div>
</div>


